<ion-view view-title="Benefits">
    <ion-content class="has-header" has-bouncing="true">
      <div ng-controller="EventCtrl">
        <event-invitation ng-repeat="event in events"></event-invitation>
      </div>
        <div class="list condensed-space no-padding" on-touch="wantedSearch(false)">
            <div class="card dark-bg in" >
                  <a href="#/tab/collections/food" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                     style="background: url('https://igcdn-photos-d-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11375384_1479346179025395_1394717044_n.jpg'); ">
                      <h2>Food</h2>
                      <!--<p>What and where to eat</p>-->
                      <p class="category-detail">
                          <span style="float:left">
                              <i class="icon ion-android-time"></i>
                              37 minutes ago
                          </span>
                          <!--<span style="float:right">
                              <i class="icon ion-android-favorite"></i>
                              +10k posts
                          </span>-->
                      </p>
                      <img src="" style="-webkit-transition-delay: 0.02s; transition-delay: 0.02s;">
                  </a>
              </div>
              <div class="card energized-bg in" style="-webkit-transition-delay: 0.27s; transition-delay: 0.27s;">
                <a href="#/tab/collections/beauty" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                   style="background: url('https://instagram.ftlv1-1.fna.fbcdn.net/t51.2885-15/s480x480/e35/12519128_1094303710589829_27342658_n.jpg');   background-position: 0% 39% !important;">
                    <h2>Beauty</h2>
                    <!--<p>For him, for her.</p>-->
                    <p class="category-detail">
                        <span style="float:left">
                            <i class="icon ion-android-time"></i>
                            37 minutes ago
                        </span>
                        <!--<span style="float:right">
                            <i class="icon ion-android-favorite"></i>
                            +10k posts
                        </span>-->
                    </p>
                    <img src="">
                </a>
            </div>
            <div class="card energized-bg in" style="-webkit-transition-delay: 0.27s; transition-delay: 0.27s;">
                <a href="#/tab/collections/night" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                   style="background: url('https://s-media-cache-ak0.pinimg.com/236x/84/b6/e5/84b6e5633a19bb22743094c02cd81bd5.jpg'); ">
                    <h2>Night Life</h2>
                    <!--<p>Bars and Clubs</p>-->
                    <img src="" style="-webkit-transition-delay: 0.09s; transition-delay: 0.09s;">
                    <p class="category-detail">
                        <span style="float:left">
                            <i class="icon ion-android-time"></i>
                            1 hour ago
                        </span>
                        <!--<span style="float:right">
                            <i class="icon ion-android-favorite"></i>
                            +4k posts
                        </span>-->
                    </p>
                </a>
            </div>
            <div class="card balanced-bg in" style="-webkit-transition-delay: 0.54s; transition-delay: 0.54s;">
                <a href="#/tab/collections/fitness" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                   style="background: url('https://instagram.fhfa1-1.fna.fbcdn.net/t51.2885-15/e35/13151244_1030368227057481_1496364036_n.jpg?ig_cache_key=MTI0MTI4NjMzODAyOTYxMzM5MQ%3D%3D.2'); ">
                    <h2>Fitness</h2>
                    <!--<p>Stay healthy</p>-->
                    <img src="" style="-webkit-transition-delay: 0.27s; transition-delay: 0.27s;">
                    <p class="category-detail">
                        <span style="float:left">
                            <i class="icon ion-android-time"></i>
                            1 day ago
                        </span>
                        <!--<span style="float:right">
                            <i class="icon ion-android-favorite"></i>
                            400 posts
                        </span>-->
                    </p>
                </a>
            </div>
            <!--<div class="card assertive-bg in" style="-webkit-transition-delay: 0.4s; transition-delay: 0.4s;">
                <a href="#/tab/collections/3" class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse"
                   style="background: url('https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11356965_701204626681321_1272394778_n.jpg'); ">
                    <h2>Events & Activities</h2>
                    <p>Can't lost them!</p>
                    <img src="" style="-webkit-transition-delay: 0.18s; transition-delay: 0.18s;">
                    <p class="category-detail">
                        <span style="float:left">
                            <i class="icon ion-android-time"></i>
                            1 day ago
                        </span>
                        <span style="float:right">
                            <i class="icon ion-android-favorite"></i>
                            +1k posts
                        </span>
                    </p>
                </a>
            </div>-->
        </div>
    </ion-content>
    <button id="fab" ng-click="scan()" class="button button-energized button-positive button-fab button-fab-bottom-right">
      <i class="icon ion-qr-scanner"></i>
    </button>
</ion-view>
